<%- model_class = @ascent.class -%>

<%= render 'ascents/ascent_detail', :ascent => @ascent %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              ascents_path, :class => 'btn'  %>
<% if can? :edit, Ascent %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ascent_path(@ascent), :class => 'btn' %>
<% end %>
<% if can? :destroy, Ascent %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ascent_path(@ascent),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
<% end %>

</div>
