  {{render "navbar"}}
  <div id="main" role="main">
    <div class="container">
        {{outlet}}
        <footer>
          {{render "footer"}}
        </footer>
      </div>
    </div> <!--! end of .container -->
  </div> <!--! end of #main -->
</body>
